@import url("https://fonts.googleapis.com/css2?family=Boogaloo&display=swap");
.howContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#how-header {
  color: #fff;
  text-decoration: none;
  font-size: 36px;
  font-family: Boogaloo;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  white-space: nowrap;
  text-align: center;
}

.howimages {
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  border-radius: 20vw;
}

.howimages .image-wrapper {
  position: relative;
}

.howimages img {
  width: 100%;
  height: auto;
}

.howimages h2 {
  position: absolute;
  bottom: 0;
  left: -10px;
  width: 100%;
   font-family: Boogaloo;
  font-style: normal;
  font-weight: 400;;
   font-family: Boogaloo;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 10px;
  color: #100870;
  align-items: center;
  text-align: center;
}

.head {
  color: #fff;
  display: flex;
  justify-content: center;
}

.howitworks {
  color: #fff;
  text-decoration: none;
  font-size: 1.25vw;
  font-family: Boogaloo;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  width: 50vw;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

.howitworks img {
  width: 50vw;
  display: flex;
  align-self: center;
}

@media screen and (max-width: 800px) { 
  .howimages {
    grid-template-columns: repeat(1, 1fr);
    width: 50vw;
  }

  #how-header, .howimages h2, .head, .howitworks p, .howitworks ul, .howitworks li {
    white-space: wrap;
    font-size: medium;
  }
}













































.hintPopup {
  position: relative;
  display: inline-block;
  font-size: 2vw;
}

.hintButton {
  cursor: pointer;
}

.hintText {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  display: none;
  font-size: 20px;
  width: 300px;
}

.hintPopup:hover .hintText {
  display: block;
}

.helpLink {
  text-decoration: none;
  color: inherit;
  font-size: 2vw;
}

.hintHelpContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.hintPopup {
  margin-right: 10px;
}

.helpLink {
  text-decoration: none;
  color: inherit;
  font-size: 2vw;
}

.challenge {
  font-size: 1.5vw;
}
.questions{
  width: 55vw;
}

.keyword {
  color: white;
}

.formula {
  color: white;
}
.howitworks {
  padding: 20px;
}

.head {
  color: #004aad;
  font-size: 2.5vw;
  margin-bottom: 20px;
}

p {
  color: #004aad;
  margin-bottom: 10px;
}

ul {
  color:#004aad;
  margin-bottom: 10px;
  padding-left: 20px;
}

.keyword {
  color: white;
  background-color: #004aad;
  padding: 3px 6px;
  border-radius: 4px;
}

.formula {
  color: white;
  background-color: #004aad;
  padding: 3px 6px;
  border-radius: 4px;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
